# Supabase Configuration
EXPO_PUBLIC_SUPABASE_URL=https://iksskuakoburbizhcjvj.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlrc3NrdWFrb2J1cmJpemhjanZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3OTcxODEsImV4cCI6MjA5NTM3MzE4MX0.p_WAScIDrn8Bk4_PJWb4deO6L5mmgAyCM2HEEFxTkCY

# API Configuration
EXPO_PUBLIC_API_URL=http://localhost:3000
